
img.lazy {
	width: 600px;
	max-height: 600px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	/* optional way, set loading as background */
	background-image: url('images/loading.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
img.lazy.vertical {
	width: 300px;
	max-height: 400px;	
}



.infopopup .infonotetitle,.infonote {
	padding-top: 15px;
	font-style: italic;
}

.watermark{
  position: absolute;
  max-height: 20%;
  max-width: 20%;
  background-color:rgba(0,0,0,.4);
  top: 0; left: 0; bottom: 0; right: 0;
}

