
img.lazy {
	width: 600px;
	max-height: 600px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	/* optional way, set loading as background */
	background-image: url('images/loading.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
img.lazy.vertical {
	width: 300px;
	max-height: 400px;	
}

img.lazy.popup-picture{
	width: 400px;	
	float: left;
	margin: 10px 10px 4px 0px;	
}
img.lazy.vertical.popup-picture {
	width: 200px;
	max-height: 300px;	
	float: left;
	margin: 10px 10px 4px 0px;	
}

.infopopup .infonotetitle,.infonote {
	padding-top: 15px;
	font-style: italic;
}

.centered{
  position: absolute;
  height: 50%;
  width: 50%;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.watermark {
/*   background-color:rgba(0,0,0,.4); */
  opacity: 0.9;
}

.fa-info-circle {
	color: #0681bf;
}

